<!DOCTYPE html>
<html>
<head>
  <title>{{ app_name }}</title>
</head>
<body>
  <h1>{{ app_name }}</h1>
  <p>Deployed via Ansible 🚀</p>
  <p>Host: {{ inventory_hostname }}</p>
  <p>Managed by Terraform + Ansible</p>
</body>
</html>
